.amount-input-wrapper,
.amount-input-wrapper *,
.amount-text-wrapper,
.amount-text-wrapper * {
  font-size: 14px;
}

.amount-input-wrapper {
  display: flex;
  background-color: white;
  border: 1px solid #7b7b93;
  margin: 10px 0;
  border-radius: 5px;
  min-width: min-content;

  &.focus {
    border: 1px solid orange;
  }

  .prefix,
  .suffix {
    position: relative;
    color: #7b7b93;
  }

  .prefix {
    padding: 15px 0 15px 15px;
  }

  .suffix {
    padding: 15px 15px 15px 0;
  }

  input {
    background-color: transparent;
    position: relative;
    width: 100%;
    min-width: 80px;
    padding: 15px;
    outline: none;
    border: none;
    text-align: right;
  }
}

.amount-text-wrapper {
  .prefix,
  .suffix {
    position: relative;
    color: #7b7b93;
  }
  .prefix {
    padding: 5px 0px;
  }

  .suffix {
    padding: 5px 0px;
  }
}
